@page "/"

<PageTitle>Index</PageTitle>

<h3>Blazor WASM Application</h3>

<p>Blazor application connected with Azure AD B2C.</p>
<p>Authenticates an User and makes Authenticated API requests.</p>

@code {}
